# Generar con:
# docker run --rm -it -v "$PWD/mosquitto:/mosquitto/config" eclipse-mosquitto:2 \
#   mosquitto_passwd -c /mosquitto/config/passwords agro_backend
# docker run --rm -it -v "$PWD/mosquitto:/mosquitto/config" eclipse-mosquitto:2 \
#   mosquitto_passwd /mosquitto/config/passwords agro_device
